/*
  RESETS:
*/
* {
  margin: 0;
  padding: 0;
}

/*
  GLOBALS: 
*/

:root {
  --bg-color: #218380;
  font-family: Verdana;
}
body {
  width: 100vw;
  font-size: 16px;
}

.main, 
.questions,
.addHighscore,
.highscores {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);  
  border: 2px solid lightgray;
  border-radius: 15px;
  min-width: 55%;
  min-height: 300px;
  padding: 50px 40px;
  box-sizing: border-box;
  box-shadow: 5px 5px lightgray;
}

.main button, 
.addHighscore .addScoreBtn,
.highscoresBtn  {
  background-color: var(--bg-color);
  border: var(--bg-color);
  border-radius: 7px;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/*
  HEADER 
*/
.App header {
  background-color: var(--bg-color);
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.showHighscore {
  cursor: pointer;
}

.timer {
  padding-right: 20px;
  display: flex;
}

/*
  MAIN MENU
*/

.main h2 {
  font-size: 24px;
  margin: 10px 0;
}
.main p {
  margin: 10px 0;
}

/*
  QUESTIONS
*/ 
.questions h2 {
  margin-bottom: 20px;
}

.questions ul {
  list-style-type: none;
}

.questions li {
  background-color: var(--bg-color);
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
}

.questions hr {
  border: 1px solid lightgray;
}

.correctMsg {
  margin-top: 10px;
}

/*
  ADD HIGHSCORE
*/

.addHighscore {
  min-width: 40%;
  min-height: 200px;
}

.addHighscore * {
  margin: 10px;
}

.addHighscore input {
  width: 100px;
  height: 30px;
}

/*
  HIGHSCORES
*/

.highscores {
  min-width: 25%;
  min-height: 200px;
}

.highscores h2 {
  font-weight: 900;
}

.highscores ol {
  margin: 10px 0 10px 40px;
}

.highscoresBtnContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}